.text-center{
    text-align: center;
}
.align-center{align-items: center;}
.justify-center{justify-content: center;}
.justify-right{justify-content: flex-end;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-line{text-decoration-line: line-through;}